<%
total_api=@snapshot.measure('clirr_total_api_changes')
api_breaks=@snapshot.measure('clirr_api_breaks')
api_behavior_change=@snapshot.measure('clirr_api_behavior_changes')
new_api=@snapshot.measure('clirr_new_api')

if total_api.nil?
%>
<p>No data</p>
<% else %>
<div class="dashbox">
  <h3>API Changes</h3>
  <p><span class="big"><%= format_measure(total_api, :url => url_for_drilldown(total_api, {:viewer_plugin_key => 'org.sonar.plugins.core.violationsviewer.ViolationsViewer'}))%></span></p>
  <% if api_breaks %>
  <p><span"><%= format_measure(api_breaks, :suffix => ' API breaks', :url => url_for_drilldown(api_breaks, {:viewer_plugin_key => 'org.sonar.plugins.core.violationsviewer.ViolationsViewer'})) %></span></p>
  <% end %>
  <% if api_behavior_change %>
  <p><span"><%= format_measure(api_behavior_change, :suffix => ' API behavior changes', :url => url_for_drilldown(api_behavior_change, {:viewer_plugin_key => 'org.sonar.plugins.core.violationsviewer.ViolationsViewer'})) %></span></p>
  <% end %>
  <% if new_api %>
  <p><span"><%= format_measure(new_api, :suffix => ' new API', :url => url_for_drilldown(new_api, {:viewer_plugin_key => 'org.sonar.plugins.core.violationsviewer.ViolationsViewer'})) %></span></p>
  <% end %>
</div>

<br/>
<br/>
<table class="data">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%
        conditions=[]
        values={}
       
      conditions << 'snapshots.root_snapshot_id=:root_sid'
      values[:root_sid] = (@snapshot.root_snapshot_id || @snapshot.id)

      conditions << 'snapshots.path LIKE :path'
      values[:path]="#{@snapshot.path}#{@snapshot.id}.%"
       
           
        conditions << 'rule_id IN (:rule_ids)'
        values[:rule_ids] = Rule.find(:all, :conditions => {'plugin_name'=>'clirr'}).select {|rule| rule.id}
       
        violations = RuleFailure.find(:all,
              :conditions => ['(snapshots.id=? OR snapshots.root_snapshot_id=? OR snapshots.path LIKE ?) ',@snapshot.id, @snapshot.id, "#{@snapshot.path}#{@snapshot.id}.%"],
              :include => [:snapshot, :rule],
              :order => 'rule_failures.failure_level DESC')
       
        violations.each do |violation|
        %>
            <tr class="<%= cycle('even', 'odd')-%>">
            <td><img src="<%= ApplicationController.root_context -%>/images/priority/<%= violation.failure_level -%>.gif"></td>
            <td><%= violation.message %></td></tr>
        <% end %>
    </tbody>
</table>
<% end %>